.html, body {
  height: 100%;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  justify-content: s;
  align-items: flex-start;
  background-color: #E0DFDF;
  color: #000000;
  width: 250px;
  height: 100vh;
  z-index: 1000;
}


.logo-title {
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 15px 0 25px 30px;
}

header button {
  display: flex;
  gap: 20px;
  align-items: center;
  background: none;
  border: none;
  font-size: 20px;
  margin: 7px 0 0 35px;
  cursor: pointer;
}